@import '../../../Utils/variables.scss';

.admin__users-head{
    display: flex;
    justify-content: center;
    align-items: center;

    .admin__users-searchWrapper{
        display: flex;
        .search-btn{
            background-color: #445B63;
            font-family: $font;
            color:white;
            font-weight: 600;
            margin-left: 5px;
            padding: 0px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
        }
    }
    .admin__users-search{
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(219, 218, 218);
        display: flex;
        align-items: center;
        padding: 0px 10px;
        box-sizing: border-box;
        img{
            width: 20px;
            margin-right: 5px;
        }
        input{
            height: 80%;
            width: 100%;
            border: 0px;
            outline: none;
            font-family: $font;
            font-weight: 600;
            color: grey;

        }
    
        
    }
}

.admin__users-body{
    margin-top: 80px;
}

.edit__user{
    font-family: $font;
    width: 50%;
}