
@import '../../../Utils/variables.scss';
.lock{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid white;
    cursor: pointer;
    text-align: center;
    font-family: $font;
    font-weight: 500;
    transition: all 0.3s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 20px;
    }
}

.active{
    background-color: white;
}